/* .vision{
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: white;
    color: #333;
    padding: 80px;
}

.vision p{
    width: 50%;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-top: 15px;
    box-sizing: content-box;
}
.vision h1{
    color: green;
    padding-top: 5px;
} */